* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin-left: 1rem;
}

table,th,tr,td {
    border: 0px solid rgb(225, 225, 225);
    border-radius: 10px;
    font-size: 24pt;
    color: rgb(98, 98, 98);
}

td {
    width: 50pt;
    height: 50pt;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px rgb(214, 214, 214);
}

#result {
    text-align: right;
    padding-right: 13pt;
}

td.button {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td.button:hover{
    background-color: rgb(234, 234, 234);
}

td.button:active {
    background-color: rgb(181, 181, 181);
    scale: 0.95;
}

table {
    border-radius: 6px;
    border-spacing: 7pt;
    padding: 3pt;
    background-color: rgb(233, 233, 233);
}

img.calcSvg {
    padding-top: 6pt;
}