/* Add a black background color to the top navigation */
html {
    font-family:Arial
}

.topnav {
    background-color: #01b0d334;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #01B0D3;
    color: white;
    font-weight: bold;
  }

h2 {
    padding-top: 1rem;
}

body {
    color:white;
    background-color:#242333;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

article {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.1px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0.1px;
    background-color:#948fdd29;
}

footer {
    background-color: #948fdd29;
    color: #ffffff;
    padding: 1rem;
    margin-top: 10px;
    text-align: center;
  }

.bold_text {
  font-weight: bold;
}

a {
  color: #01B0D3;
}

a.bottom_link {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}