@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');


*{
    font-size: 14pt;
    letter-spacing: 1pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

.main-div {
    display: flex;
    justify-content: center;
    /*margin: 0rem 10rem;*/
    margin: auto;
    max-width: 100vmin;
}

.vis-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vmin;
    max-width: 100vmin;
    margin: auto;
}

.input-output {
    display: grid;
    width: 100%;
    padding: 20px 20px 20px 20px;
    /*border: 2px solid lightblue;*/
}
h1 {
    text-align: center;
    font-size: 36pt;
}

textarea {
    height: 60pt;
    resize: none;
    border: 1px solid #d9d9d9; /* Green */
    border-radius: 5px;
    padding: 5pt;
}

button{
    background-color: rgba(0, 0, 0, 0.043);
    color: black;
    border: 1px solid #d9d9d9; /* Green */
    border-radius: 5px;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.buttonmisc{
    margin: 0px 5px;
}

canvas {
    padding: 20px;
}



/* Popup (by w3schools.com) */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.popup .popuptext {
    visibility: hidden;
    width: 500px;
    background-color: #555555dd;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -250px;
    font-size: 12pt;
}
  
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -14px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.popup .show {
    visibility: visible;
}

.popuptext a {
    color: aqua;
    text-decoration: none;
}

.popuptext a:hover{
    color: rgb(0, 166, 255);
}

/*
@media(max-width:"800px"){

};
*/